---

import Layout from "../layouts/Layout.astro";
import NavSetting from "../components/SettingPage/Nav.astro";
import Accordion from "../components/utility/Accordion.svelte";
import SettingsSection from "../components/SettingPage/SettingsSection.svelte";
import data from "../../public/settingOption.json";
console.log(data + "data")
---

<Layout>
    <main class="flex flex-col gap-10 pt-10">
        <NavSetting/>
        <div class="flex flex-col gap-8 pb-24">
            {data.map((item) => (
                    <Accordion title={item.title} client:load>
                        {item.settings.map(({title, description, options, icon}) => (
                                <SettingsSection title={title} description={description} options={options}>
                                    <i class={icon} slot="icon"></i>
                                </SettingsSection>
                        ))}

                    </Accordion>
            ))}
        </div>
    </main>

</Layout>

<style>

</style>