---

import Layout from "../layouts/Layout.astro";
import NavSetting from "../components/SettingPage/Nav.astro";
import Accordion from "../components/utility/Accordion.svelte";
import SettingsSection from "../components/SettingPage/SettingsSection.svelte";
import data from "../../public/settingOption.json";
console.log(data + "data")
---

<Layout>
    <NavSetting/>
    <div class="flex flex-col gap-8">
        {data.map((item) => (
                <Accordion title={item.title} client:load>
                    {item.settings.map(({title, description, options, icon}) => (
                        <SettingsSection title={title} description={description} options={options}>
                            <i class={icon} slot="icon"></i>
                        </SettingsSection>
                    ))}

                </Accordion>
        ))}
        <Accordion title="behavior" client:load>
            <div class="flex flex-col gap-8">
                <SettingsSection title="test difficulty" description="Normal is the classic type test experience. Expert fails the test if you submit (press space) an incorrect word. Master fails if you press a single incorrect key (meaning you have to achieve 100% accuracy).">
                    <i class="fas fa-star text-[currentColor]" slot="icon" ></i>
                </SettingsSection>
                <SettingsSection >
                    <i class="fas fa-star text-[currentColor]" slot="icon" ></i>
                </SettingsSection>
                <SettingsSection >
                    <i class="fas fa-star text-[currentColor]" slot="icon" ></i>
                </SettingsSection>
                <SettingsSection >
                    <i class="fas fa-star text-[currentColor]" slot="icon" ></i>
                </SettingsSection>
                <SettingsSection >
                    <i class="fas fa-star text-[currentColor]" slot="icon" ></i>
                </SettingsSection>
            </div>


        </Accordion>
    </div>
</Layout>

<style>

</style>